<!DOCTYPE html>
<HTML>
<HEAD>
  <META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <META http-equiv="Content-Style-Type" content="text/css">
  <link rel="stylesheet" type="text/css" href="../styles/disp.css">
  <script src="../scripts/xml.js"></script>
   <script>
var sounds = [
    new Audio('../sounds/1.mp3'),
    new Audio('../sounds/2.mp3'),
    new Audio('../sounds/3.mp3'),
    new Audio('../sounds/4.mp3'),
    new Audio('../sounds/5.mp3'),
    new Audio('../sounds/6.mp3'),
    new Audio('../sounds/7.mp3'),
    new Audio('../sounds/8.mp3'),
    new Audio('../sounds/9.mp3'),
    new Audio('../sounds/10.mp3'),
    new Audio('../sounds/11.mp3'),
    new Audio('../sounds/12.mp3'),
    new Audio('../sounds/13.mp3'),
    new Audio('../sounds/14.mp3'),
    new Audio('../sounds/15.mp3'),
    new Audio('../sounds/16.mp3')
];

function getRandomSound() {
    return sounds[Math.floor(Math.random() * sounds.length)];
}

function playSnd() {
    var sndSelected = getRandomSound();
    console.log(sndSelected);
    sndSelected.play();
}

var barka = new Audio('../sounds/Barka.mp3'); // Barka.mp3

function schedule2137() {
    var now = new Date();

    var target = new Date();
    target.setHours(21, 37, 0, 0);

    if (target <= now) {
        target.setDate(target.getDate() + 1);
    }

    var delay = target.getTime() - now.getTime();

    setTimeout(function () {
        barka.currentTime = 0; // restart from beginning
        barka.play();

        console.log("Played Barka.mp3 at 21:37");

        schedule2137(); // schedule again for tomorrow
    }, delay);
}

// Start the daily scheduler
schedule2137();
 </script>
  <TITLE id="menuTop"></TITLE>
  <script>
    GetTitleName("menuTop");
  </script>
</HEAD>

<BODY class="header">
  <CENTER>
  <TABLE height="100%" width="100%" border="0" cellpadding="0" cellspacing="0">
    <TBODY>
      <TR>
			<TD valign="middle" align="center"><a onclick="playSnd();"><IMG src="../images/logo.gif" width="170" height="30"></a></TD>
      </TR>
      <TR>
        <TD class="sepabtm"></TD>
      </TR>
    </TBODY>
  </TABLE>
  </CENTER>
</BODY>
</HTML>