<!DOCTYPE html>
<HTML>
<HEAD>
	<meta charset="utf-8">
  <META http-equiv="Content-Type" content="text/html; UTF-8">
  <META http-equiv="Content-Style-Type" content="text/css">
  <link rel="stylesheet" type="text/css" href="../styles/disp.css">
  <script src="../scripts/xml.js"></script>
  
  <TITLE id="pdfhtml"></TITLE>
  <script>
    GetTitleName("pdfhtml");
  </script>
</HEAD>

<BODY class="bg01">
<TABLE border="0" width="100%" height="100%" cellpadding="0" cellspacing="0">
  <TBODY>
    <TR>
      <TD rowspan="2" width="5%"></TD>
      <TD valign="top">
      <CENTER>
      <TABLE border="0" cellpadding="10" cellspacing="0">
        <TBODY>
          <TR>
            <TD height="20"></TD>
          </TR>
          <TR>
            <TD align="center">
            <TABLE border="0" cellpadding="0" cellspacing="0">
              <TBODY>
                <TR>
                  <TD>
                  <FONT class="cartitle">
                    <b><p id="pdfManual"></p></b>
                    <script>                    
                      GetModelName("pdfManual");
                    </script>
                    <p><b>SERVICE MANUAL</b></p>
                  </FONT>
                 </TD>
                </TR>
              </TBODY>
            </TABLE>
            </TD>
          </TR>
          <TR>
            <TD align="center">
            <TABLE border="0" cellpadding="2" cellspacing="0">
              <TBODY>
                <TR>
                  <TD valign="top"><FONT face="arial"><B>Applicable models:</B></FONT></TD>
                  <TD><FONT face="arial" id="codes">
                    <script>
                      GetModelCodes("codes");
                    </script>
                  </FONT></TD>
                </TR>
              </TBODY>
            </TABLE>
            </TD>
          </TR>
          <TR>
            <TD height="25"></TD>
          </TR>
          <TR>
            <TD>
            <TABLE border="0" cellpadding="0" cellspacing="0">
              <TBODY>
                <TR>
                  <TD><FONT face="arial">Click the desired item from the pull down menu on the left.</FONT></TD>
                </TR>
              </TBODY>
            </TABLE>
            </TD>
          </TR>
          <TR>
            <TD>
            <TABLE border="0" cellpadding="2" cellspacing="0">
              <TBODY>
                <TR>
                  <TD valign="top"><B><FONT face="arial">Note:</B></FONT></TD>
                  <TD><FONT face="arial">Forked from lc100e.github.io and adapted for Lexus IS200/IS300<BR>
                  by Bartek from <a href="https://www.facebook.com/groups/Lexus.IS.POLSKA/" target="_blank">Lexus IS200 IS300 [POLSKA]</a> Facebook group.</br></br>
				  <b>Jak wesprzeć projekt / How to support this project:</br></b>
				  <b>PL:</b> Jeśli chciałbyś podziękować za hostowanie serwisówki to proszę o wpłaty na <a href="https://zrzutka.pl/profile/fundacja-glosem-zwierzat-34806" target="_blank">Fundacja Głosem Zwierząt - Zrzutka.pl</a>.</br>
				  <b>EN:</b> If you would like to thank me for hosting this version of the service manual then please support your local animal shelter.
                  </FONT></TD>
                </TR>
              </TBODY>
            </TABLE>
            </TD>
          </TR>
        </TBODY>
      </TABLE>
      </CENTER>
      </TD>
      <TD width="5%"></TD>
    </TR>
    <TR>
      <TD align="right" valign="bottom" colspan="2" width="95%">
      <TABLE border="0" cellpadding="0" cellspacing="0">
        <TBODY>
          <TR>
            <TD width="10"></TD>
            <TD><FONT class="footer">Copyright (C) <span id="copyright"></span> Toyota Motor Corporation. All rights reserved.</FONT></TD>
              <script>
                GetCopyrightYear("copyright");
              </script>          
          </TR>
        </TBODY>
      </TABLE>
      </TD>
    </TR>
  </TBODY>
</TABLE>
</BODY>
</HTML>